.Lokasi {
  background: #6CA7FF;
  padding-bottom: 20px;
  }

.Cover-lokasi {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

:root {
  --white: white;
}

button {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  background: #19B200;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

button:hover {
  padding: 10px 30px;
  transition: all 0.3s ease-out;
  background-color: #6C63FF;
  color: white;
  border-radius: 20px;
  border: 2px solid var(--white);
  transition: all 0.3s ease-out;
}

.Maps {
  box-sizing: border-box;
  background-color: white;
  border-radius: 30px;
  margin: 0px 200px;
  margin-top: 20px;
  padding: 10px 0px;
  text-align: center;
}

.main-title{
  color: black;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* lokasi-maps */
  .Lokasi-maps {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;
    margin: 0px 380px; 
}