.Background-user {
    background: #6CA7FF;
    padding: 20px 20px;
  }
  
  .Background-admin {
    background: #4D4D4D;
    padding: 20px 20px;
    min-height: 80vh;

  }
  
  .Title {
    padding-left: 50px;
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  
  .Title-2  {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  
  .Title-3  {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  
  .Artikel {
    padding: 0px 40px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    text-align: justify;
  }
  
  .Artikel-2 {
    color: black;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: justify;
  }
  
  .Artikel-3 {
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
  }

  .main-image{
    cursor: pointer;
    margin-top: 50px;
    margin-left: 10px;
  }

  .main-image2{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
  }